All Jobs for <strong><%= @company.name %></strong>

<h3><%= link_to "Add Jobs", new_company_job_path %></h3>

<% @jobs.each do |job| %>
  <ul><%= link_to "#{job.title}", job_path(@company, job) %> at <%= job.company.name %></ul>
  <ul><%= link_to "Delete", job_path(@company, job), method: "delete" %></ul>
  <br>
<% end %>

<%= link_to "Back to Companies", companies_path %>