All Jobs for <strong><%= @company.name %></strong>

<h3><%= link_to "Add Jobs", new_company_job_path %></h3>

<% @jobs.each do |job| %>
  <ul><%= job.title %> at <%= job.company.name %></ul>
  <ul><%= link_to "Delete", company_job_path(@company, @jobs), method: "delete" %></ul>
<% end %>

<%= link_to "Back to Companies", companies_path %>